* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(60, 3, 112);
    color: white;
}

.company-name{
    color: rgb(255, 255, 222);
    font-size: 24px;
}

.tag-line{
    color: rgb(255, 255, 222);
    font-size: 12px;
}

.search-bar{
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 10px;
    border:1px solid gray;
    color: rgb(112, 112, 112);
    width:40%;
    height:25px;
    border-radius: 8px;
    padding-left: 10px;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product{
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    height: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
}