*{
    margin: 0;
    padding: 0;

}

header{
    background-color: rgb(88, 24, 147);
    color: white;
    font-size: 12px;
}

.name{
    font-size: 26px;
    font-weight: bold;
    color: rgb(255, 233, 214);
}

.search-bar{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:160px;
    border: 1px solid rgb(53, 53, 53);
    width:50%;
    height: 28px;
    border-radius: 8px;
    padding: 4px ;
}

.products{
    
    
    display: flex;
    flex-wrap:wrap ;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.product{
    border: 1px solid rgb(180, 180, 180);
    width: 150px;
    height: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(220, 220, 220);
}